footer {
    background-color: #ffffff;
    color: #002854;
}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 25px 8% 24px 8%;
    align-items: center;
    color: #002854;
}

#copyright {
    color: var(--color-neutral-1);
    ;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}